Django>=4.1,<4.2
django-crispy-forms
django-weasyprint
django-settings-export
django-extra-views
django-multiselectfield
python-magic
django-lockdown
git+https://github.com/dbf/django-shibboleth-remoteuser.git
