django-crispy-forms
crispy_bootstrap4
django-weasyprint
django-settings-export
django-extra-views
django-multiselectfield>=0.1,<1.0
python-magic
black
django-debug-toolbar
django-rosetta
pylint-django
coverage
django-webtest
PyPDF2
flake8
django-coverage-plugin
