Django>=4.2,<4.3
django-crispy-forms
crispy_bootstrap4
django-weasyprint
django-settings-export
django-extra-views
django-multiselectfield>=0.1,<1.0
python-magic
django-lockdown
git+https://github.com/dbf/django-shibboleth-remoteuser.git
