{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
      RPA transparency measures
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse show" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
You are required to inform data subjects about your processing of their
personal data. Choose how and provide at least one reference to your
information.
        {% endblocktranslate %}
      </p>
    </p>
  </div>
  </div>
  <p>
  </p>

  {% crispy form %}

{% endblock %}

