{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
RPA access groups
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ rpa.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate with controller=settings.CONTROLLER_NAME %}
Which persons and groups take part in the processing and therefore have
access to the personal data processed?  This is not about the transfer
of personal data (as in the "Recipients" and "Transfer to third country"
forms), but about the access in the scope of the actual processing. The
members of your group and you are an obvious example for an access
group. If you intend to grant access to other persons or groups at
{{ controller }}, list these as well. A typical example for external
access groups are data processors or contractors who do remote
maintenance on your systems. Also, state the access rights that each
group is granted. Please make sure to cover all categories of personal
data.
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
You can use up to 5 forms to provide information about the access groups
of your processing activity. If that is not enough, choose "There is an
authorization/role concept that is attached to the annex" as the very
first option, create an authorization/role concept, if you haven't
already done so, refer to it in the annex and attach it to the final
version of your RPA. A minimal authorization/role concept should
resemble a list of information as in each of the forms below.
        {% endblocktranslate %}
      </p>
      <p><b>
        {% blocktranslate %}
Please note: The choices you make for categories of personal data here
will be both saved and listed by number in the document view of this
RPA. If you make changes in the categories of personal data form later
on, you may need to review the choices for categories of personal data
in this form.
        {% endblocktranslate %}
      </b></p>
    </div>
  </div>
  <p>
  </p>

  <form id="edit-agrp" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form|crispy }}
    {% for form in formset %}
      {% if forloop.first %}
        {% crispy form form.helper_first %}
      {% elif forloop.last %}
        {% crispy form form.helper_last %}
      {% else  %}
        {% crispy form form.helper_between %}
      {% endif %}
    {% endfor %}
  </form>

{% endblock %}

