{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
RPA Data processor
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ rpa.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate with controller=settings.CONTROLLER_NAME %}
A data processor is a person or entity outside {{ controller }}, who
processes the personal data in question according to your instructions
(this is different from a joint controller!). A data processing
agreement (DPA) is mandatory in this case (add to annex). Typical
examples include hosting, translation/transliteration services and SaaS
providers (surveys, collaboration, storage, database applications,
etc.).  If your processing activity does not include a data processor,
set the according option to "No" and leave the other fields untouched.
If your processing activity does include a data processor, set the
according option to "Yes" and enter the contact data in the respective
fields.  The "contact person" field allows you to enter a contact person
as well as additional information you consider important.
        {% endblocktranslate %}
      </p>
    </div>
  </div>
  <p>
  </p>

  {% crispy form %}

{% endblock %}

