{% extends 'dpotools.html' %}
{% load i18n %}

{% block extra_head %}
<style>
.rpahead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24pt;
  border-style: none;
}
.rpath {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
}
.rpathcite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.rpainfot {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
th {
  border: none;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}
td.present {
  background-color: {{ settings.DPO_COMM_COL_PRS }};
}
td.missing {
  background-color: {{ settings.DPO_COMM_COL_MIS }};
}
td.check {
  background-color: {{ settings.DPO_COMM_COL_CHK }};
}
td.empty {
  background-color: {{ settings.DPO_COMM_COL_DEF }};
}
td:nth-child(1) {
  width: 6%;
}
td:nth-child(2) {
  width: 9%;
}
td:nth-child(3) {
  width: 20%;
}
td:nth-child(4) {
  width: 65%;
}
</style>
{% endblock %}

{% block title %}
  {% translate "Edit view for RPA" %} "{{ rpa.slug }}"
{% endblock %}

{% block content %}

  {% translate "present" as present %}
  {% translate "missing" as missing %}
  {% translate "check" as check %}
  {% translate "empty" as empty %}

  <h5>
    {% translate "Edit view for RPA" %} "{{ rpa.slug }}"
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ rpa.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
This page allows you to edit the above RPA. The table below shows an
overview of the required information.
        {% endblocktranslate %}
      </p>
      <p>
        <span class="dpotoolshint">
          {% blocktranslate %}
To edit information, click on the link in the "Acronym" column.
          {% endblocktranslate %}
        </span>
      </p>
      <p>
        {% blocktranslate %}
As soon as all cells in the "Status" column show a "present" status
(green), your RPA has the mandatory minimum of information (annex
information may stay empty, depending on whether you refer to documents
therein). Provided that you gave all required information completely as
described in the hints, you can consider this RPA to be complete. Status
"present, check" (orange) means that the DPO commented on this part of
your RPA and your attention is required. Change to the Edit view of the
respective part, read the DPO comment (orange button), make the required
changes, optionally add a comment yourself, check the box below the text
entry field and then submit the form again.
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
If you wish to check your proceedings, use the "View" link below at any
time. As long as your RPA lacks required information, this document view
will contain error messages about missing information.
You do not need to be logged in all the time during the compilation of
your RPA; a partially compiled RPA will "survive" a logout (a partially
filled out, unsaved single form will not, though).
        {% endblocktranslate %}
      </p>
      <p><b>
        {% blocktranslate %}
Although you will be able to fill in the forms in any order you wish to,
please be aware that the information entered in the "Categories of
personal data" form is required to fill in some of the subsequent forms
(such as "Categories of data subjects"). Therefore, the safe way is to
enter information in the order given by the table below.
        {% endblocktranslate %}
      </b></p>
    </div>
  </div>
  <p>
  </p>

  <p>
    <a href="{% url 'rpa:rpa_detail' rpa.slug %}" target="rpa_detail">{% translate "View the current state of this RPA in a new browser tab" %}</a><br>
  </p>

  <table>
    <tr>
      <th>{% translate "Acronym" %}</th>
      <th>{% translate "Status" %}</th>
      <th>{% translate "Information" %}</th>
      <th>{% translate "Comment" %}</th>
    </tr>
    <tr>
      <td>rpasl</td>
      <td class="present">{{ present }}</td>
      <td>{% translate "RPA slug" %}</td>
      <td>{% translate "RPA short name" %} ("{{ rpa.slug }}"); {% translate "already created, cannot be changed" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_rpanm' rpa %}">&#128295;&nbsp;rpanm</a></td>
      <td class="{% if not rpa.rpa_names.all %} missing {% else %} {% if rpanm_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.rpa_names.all %} {{ missing }} {% else %}
          {% if rpanm_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "RPA designation" %}</td>
      <td>{% translate "RPA full name, date, etc." %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_dcon' rpa %}">&#128295;&nbsp;dcon</a></td>
      <td class="{% if not rpa.datacontrollers.all %} missing {% else %} {% if dcon_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.datacontrollers.all %} {{ missing }} {% else %}
          {% if dcon_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Data controller" %}</td>
      <td>{% translate "The entity legally responsible to the outside " %} ({{ settings.CONTROLLER_NAME }})</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_jcon' rpa %}">&#128295;&nbsp;jcon</a></td>
      <td class="{% if not rpa.jointcontrollers.all %} missing {% else %} {% if jcon_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.jointcontrollers.all %} {{ missing }} {% else %}
          {% if jcon_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Joint controller" %}</td>
      <td>{% translate "Is there someone, who decides together with you on means and purposes of the processing?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_dpo' rpa %}">&#128295;&nbsp;dpo</a></td>
      <td class="{% if not rpa.dpos.all %} missing {% else %} {% if dpo_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.dpos.all %} {{ missing }} {% else %}
          {% if dpo_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Data protection officer" %}</td>
      <td>{% translate "The DPO in charge for " %} {{ settings.CONTROLLER_NAME }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_ird' rpa %}">&#128295;&nbsp;ird</a></td>
      <td class="{% if not rpa.internally_resp_depts.all %} missing {% else %} {% if ird_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.internally_resp_depts.all %} {{ missing }} {% else %}
          {% if ird_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Internally responsible dept." %}</td>
      <td>{% translate "Your contact data" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_cpd' rpa %}">&#128295;&nbsp;cpd</a></td>
      <td class="{% if not rpa.datacategories.all %} missing {% else %} {% if cpd_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.datacategories.all %} {{ missing }} {% else %}
          {% if cpd_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Categories of personal data" %}</td>
      <td>{% translate "The data categories to be processed" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_cpdo' rpa %}">&#128295;&nbsp;cpdo</a></td>
      <td class="{% if not rpa.datacategories_origin.all %} missing {% else %} {% if cpdo_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.datacategories_origin.all %} {{ missing }} {% else %}
          {% if cpdo_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Categories of personal data origin" %}</td>
      <td>{% translate "The origin of the data categories to be processed" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_plb' rpa %}">&#128295;&nbsp;plb</a></td>
      <td class="{% if not rpa.purposes_legalbases.all %} missing {% else %} {% if plb_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.purposes_legalbases.all %} {{ missing }} {% else %}
          {% if plb_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Purpose and legal basis" %}</td>
      <td>{% translate "Purpose and legal basis of your processing activity" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_dsub' rpa %}">&#128295;&nbsp;dsub</a></td>
      <td class="{% if not rpa.datasubjects.all %} missing {% else %} {% if dsub_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.datasubjects.all %} {{ missing }} {% else %}
          {% if dsub_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Categories of data subjects" %}</td>
      <td>{% translate "The groups of natural persons affected by your data processing" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_tle' rpa %}">&#128295;&nbsp;tle</a></td>
      <td class="{% if not rpa.timelimits_erasure.all %} missing {% else %} {% if tle_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.timelimits_erasure.all %} {{ missing }} {% else %}
          {% if tle_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Time limits for erasure" %}</td>
      <td>{% translate "Time limits for erasure of the personal data to be processed" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_crec' rpa %}">&#128295;&nbsp;crec</a></td>
      <td class="{% if not rpa.categories_of_rec.all %} missing {% else %} {% if crec_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.categories_of_rec.all %} {{ missing }} {% else %}
          {% if crec_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Categories of recipients" %}</td>
      <td>
      {% blocktranslate %}
All persons or entities, you intend to transfer personal data to (except
third countries or international organisations)
      {% endblocktranslate %}
      </td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_ttc' rpa %}">&#128295;&nbsp;ttc</a></td>
      <td class="{% if not rpa.transfers_to_3rdc.all %} missing {% else %} {% if ttc_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.transfers_to_3rdc.all %} {{ missing }} {% else %}
          {% if ttc_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Transfer to a third country or international organisation" %}</td>
      <td>{% translate "Do you intend to transfer personal data outside the ambit of the GDPR?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_agrp' rpa %}">&#128295;&nbsp;agrp</a></td>
      <td class="{% if not rpa.accessgroups.all %} missing {% else %} {% if agrp_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.accessgroups.all %} {{ missing }} {% else %}
          {% if agrp_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Access groups" %}</td>
      <td>{% translate "Who will (within the scope of the actual processing) have access to the personal data to be processed?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_tran' rpa %}">&#128295;&nbsp;tran</a></td>
      <td class="{% if not rpa.transparencies.all %} missing {% else %} {% if tran_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.transparencies.all %} {{ missing }} {% else %}
          {% if tran_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Transparency" %}</td>
      <td>{% translate "How do you intend to inform the data subjects about the processing of their personal data?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_dpro' rpa %}">&#128295;&nbsp;dpro</a></td>
      <td class="{% if not rpa.dataprocessors.all %} missing {% else %} {% if dpro_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.dataprocessors.all %} {{ missing }} {% else %}
          {% if dpro_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Data processors" %}</td>
      <td>{% translate "Is there an external person or entity, who processes the personal data on your instructions?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_pia' rpa %}">&#128295;&nbsp;pia</a></td>
      <td class="{% if not rpa.pias.all %} missing {% else %} {% if pia_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.pias.all %} {{ missing }} {% else %}
          {% if pia_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Privacy impact assessment" %}</td>
      <td>{% translate "Does your processing pose major risks for data subjects?" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_tom' rpa %}">&#128295;&nbsp;tom</a></td>
      <td class="{% if not rpa.toms.all %} missing {% else %} {% if tom_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.toms.all %} {{ missing }} {% else %}
          {% if tom_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Technical and organisational measures" %}</td>
      <td>{% translate "Measures you take to protect the personal data you are responsible for" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'rpa:rpa_create_annex' rpa %}">&#128295;&nbsp;annex</a></td>
      <td class="{% if not rpa.rpa_annexes.all %} empty {% else %} {% if annex_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not rpa.rpa_annexes.all %} {{ empty }} {% else %}
          {% if annex_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "RPA annex" %}</td>
      <td>{% translate "Annex of this RPA; useful, but not mandatory" %}</td>
    </tr>
  </table>

  <p>&nbsp;</p>

{% endblock %}

