{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
      Breach measures
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ breach.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
Describe measures taken or proposed (or both) in regard to the breach.
Your description should contain technical and/or organisational measures
that are reasonable and appropriate to prevent the breach from happening
again and/or to mitigate the possible adverse effects of the breach (for
the data subjects affected). In case of no measures taken or proposed, a
reason is mandatory.
        {% endblocktranslate %}
      </p>
    </div>
  </div>
  <p>
  </p>

  {% crispy form %}

{% endblock %}

