{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
Breach description
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ breach.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
Description of the breach
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
Select or enter one or more incidents, that led to the breach. A
combination of both selected and manually entered incidents is also
possible.
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
Use the "description" text entry field for a description of the breach
in your own words. Please keep in mind that your breach report will be
read by the DPO and someone at the competent supervisory authority.
These readers are most likely not familiar with your processing
activities. Try to make the incident and it's context as transparent as
possible, but stay concise.
        {% endblocktranslate %}
      </p>
    </div>
  </div>
  <p>
  </p>

  {% crispy form %}

{% endblock %}

