{% extends 'dpotools.html' %}
{% load i18n %}

{% block title %}
  {% translate "All breach reports" %}
{% endblock %}

{% block content %}

  {% translate "No breach reports available." as all_noreports %}
  {% translate "Reported" as all_date %}
  {% translate "Slug" as all_slug %}
  {% translate "Originator" as all_originator %}
  {% translate "View" as all_view %}
  {% translate "Export" as all_export %}
  {% translate "Edit" as all_edit %}
  {% translate "Delete" as all_delete %}

  <h4>{% translate "All breach reports on this system" %}:</h4>

  <table id="reports-table" class="table table-striped table-bordered">
    <thead id="tableHeader">
      <tr>
        <th>{{ all_date }}</th>
        <th>{{ all_slug }}</th>
        <th>{{ all_originator }}</th>
        <th>&#128065;&nbsp;{{ all_view }}</th>
        <th>&#128190;&nbsp;{{ all_export }} (PDF)</th>
        <th>&#128295;&nbsp;{{ all_edit }}</th>
        <th>&#128465;&nbsp;{{ all_delete }}</th>
      </tr>
    </thead>
    <tbody id="tableBody">
    {% for breach in breach %}
      <tr>
        <td>{{ breach.report_date|date:"Y-m-d" }}</td>
        <td><code>{{ breach.slug }}</code></td>
        <td>{{ breach.user.get_full_name }} ({{ breach.user }})</td>
        <td><a href="{% url 'breach:all_breach_detail' breach.slug %}" target="breach_detail">&#128065;&nbsp;{{ breach.slug }}</a></td>
        <td><a href="{% url 'breach:all_breach_detail_pdf' breach.slug %}" target="breach_detail_pdf">&#128190;&nbsp;{{ breach.slug}}</a></td>
        <td><a href="{% url 'breach:all_breach_detail_edit' breach.slug %}">&#128295;&nbsp;{{ breach.slug}}</a></td>
        <td><a href="{% url 'breach:all_breach_detail_delete' breach.slug %}">&#128465;&nbsp;{{ breach.slug}}</a></td>
      </tr>
    {% empty %}
      {{ all_noreports }}
    {% endfor %}
    </tbody>
  </table>

  <script>
    $(document).ready(function() {
      var rows = $('#tableBody tr').length;
      if ( rows == 0 ) {
        $('#tableHeader').hide();
      } else {
        $('#reports-table').DataTable({
          paging: true,
          searching: true,
          lengthChange: false,
          pageLength: 20,
          ordering: true,
          order: [[0, 'desc']],
          "columnDefs": [
            { "orderable": false, "targets": 3 },
            { "orderable": false, "targets": 4 },
            { "orderable": false, "targets": 5 },
            { "orderable": false, "targets": 6 }
          ]
        });
      }
    });
  </script>

{% endblock %}

