{% extends 'dpotools.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

  <h5>
    {% blocktranslate %}
Breach annex
    {% endblocktranslate %}
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ breach.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
The list of attachments for your breach report. May stay empty if you
don't have any attachments, otherwise enter as needed. Make sure to use
unique annex numbers.
        {% endblocktranslate %}
      </p>
    </div>
  </div>
  <p>
  </p>

  <form id="breach-edit-annex" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy formset formset.form.helper %}
  </form>

{% endblock %}

