{% extends 'dpotools.html' %}
{% load i18n %}

{% block extra_head %}
<style>
.breachhead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24pt;
  border-style: none;
}
.breachth {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18pt;
}
.breachthcite {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}
.breachinfot {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  border: none;
  border-collapse: collapse;
  width: 100%;
}
th {
  border: none;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
}
td.present {
  background-color: {{ settings.DPO_COMM_COL_PRS }};
}
td.missing {
  background-color: {{ settings.DPO_COMM_COL_MIS }};
}
td.check {
  background-color: {{ settings.DPO_COMM_COL_CHK }};
}
td.empty {
  background-color: {{ settings.DPO_COMM_COL_DEF }};
}
td:nth-child(1) {
  width: 6%;
}
td:nth-child(2) {
  width: 9%;
}
td:nth-child(3) {
  width: 20%;
}
td:nth-child(4) {
  width: 65%;
}
</style>
{% endblock %}

{% block title %}
  {% translate "Edit view for breach report" %} "{{ breach.slug }}"
{% endblock %}

{% block content %}

  {% translate "present" as present %}
  {% translate "missing" as missing %}
  {% translate "check" as check %}
  {% translate "empty" as empty %}

  <h5>
    {% translate "Edit view for breach report" %} "{{ breach.slug }}"
  </h5>

  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#details" aria-expanded="true">
    {% translate "Hints (click to toggle on/off)." %}
  </button>

  <div class="collapse {{ breach.helptext_display_default|default:"show" }}" id="details">
    <div class="card card-body">
      <p>
        {% blocktranslate %}
This page allows you to edit the above breach report. The table below
shows an overview of the information required to draft the breach
report.
        {% endblocktranslate %}
      </p>
      <p>
        <span class="dpotoolshint">
          {% blocktranslate %}
To edit information, click on the link in the "Acronym" column.
          {% endblocktranslate %}
        </span>
      </p>
      <p>
        {% blocktranslate %}
As soon as all cells in the "Status" column show a "present" status
(green), your breach report has the mandatory minimum of information
(the annex may stay empty, unless you make use of it). Provided that you
gave all required information completely as described in the hints, you
can consider this breach report to be complete. Status "present, check"
(orange) means that the DPO commented on this part of your breach report
and your attention is required. Change to the Edit view of the
respective part, read the DPO comment (orange button), make the required
changes and remove the DPO comment (fastest way to remove: Click on the
comment box, then press Ctrl-a and backspace).
        {% endblocktranslate %}
      </p>
      <p>
        {% blocktranslate %}
If you wish to check your proceedings, use the "View" link below at any
time. As long as your breach report lacks required information, that
document view will contain error messages about missing information. You
do not need to be logged in all the time during the compilation of your
breach report; a partially compiled breach report will "survive" a
logout (a partially filled out, unsaved single form will not, though).
        {% endblocktranslate %}
      </p>
    </div>
  </div>
  <p>
  </p>

  <p>
    <a href="{% url 'breach:breach_detail' breach.slug %}" target="breach_detail">{% translate "View the current state of this breach report in a new browser tab" %}</a><br>
  </p>

  <table>
    <tr>
      <th>{% translate "Acronym" %}</th>
      <th>{% translate "Status" %}</th>
      <th>{% translate "Information" %}</th>
      <th>{% translate "Comment" %}</th>
    </tr>
    <tr>
      <td>slug</td>
      <td class="present">{{ present }}</td>
      <td>{% translate "Breach report slug" %}</td>
      <td>{% translate "Breach report short name" %} ("{{ breach.slug }}"); {% translate "already created, cannot be changed" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_dcon' breach %}">&#9998;&nbsp;dcon</a></td>
      <td class="{% if not breach.datacontrollers.all %} missing {% else %} {% if dcon_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.datacontrollers.all %} {{ missing }} {% else %}
          {% if dcon_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Data controller" %}</td>
      <td>{% translate "The entity legally responsible to the outside " %} ({{ settings.CONTROLLER_NAME }})</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_btl' breach %}">&#9998;&nbsp;btl</a></td>
      <td class="{% if not breach.timelines.all %} missing {% else %} {% if btl_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.timelines.all %} {{ missing }} {% else %}
          {% if btl_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach timeline" %}</td>
      <td>{% translate "Information about the time/timeline of the breach (When did the breach happen? Is the breach still ongoing?)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_bdesc' breach %}">&#9998;&nbsp;bdesc</a></td>
      <td class="{% if not breach.descriptions.all %} missing {% else %} {% if bdesc_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.descriptions.all %} {{ missing }} {% else %}
          {% if bdesc_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach description" %}</td>
      <td>{% translate "Description of the breach (What exactly happened? What caused the breach?)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_baffd' breach %}">&#9998;&nbsp;baffd</a></td>
      <td class="{% if not breach.affected_data.all %} missing {% else %} {% if baffd_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.affected_data.all %} {{ missing }} {% else %}
          {% if baffd_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach affected data" %}</td>
      <td>{% translate "Information about the data categories affected by the breach, if already known (Which data type? Which number of data sets?)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_baffs' breach %}">&#9998;&nbsp;baffs</a></td>
      <td class="{% if not breach.affected_subjects.all %} missing {% else %} {% if baffs_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.affected_subjects.all %} {{ missing }} {% else %}
          {% if baffs_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach affected subjects" %}</td>
      <td>{% translate "Information about the data subject categories affected by the breach, if already known (Which person or which group of persons? Which number of persons?)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_bcons' breach %}">&#9998;&nbsp;bcons</a></td>
      <td class="{% if not breach.consequences.all %} missing {% else %} {% if bcons_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.consequences.all %} {{ missing }} {% else %}
          {% if bcons_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach consequences" %}</td>
      <td>{% translate "Information about the likely consequences of the breach for affected data subjects (persons), if already known (regarding data confidentiality, integrity and availability)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_bmeasures' breach %}">&#9998;&nbsp;bmeasures</a></td>
      <td class="{% if not breach.measures.all %} missing {% else %} {% if bmeasures_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.measures.all %} {{ missing }} {% else %}
          {% if bmeasures_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach measures" %}</td>
      <td>{% translate "Information about the measures taken or proposed to prevent the breach from happening again and/or mitigate the consequences of the breach for affected persons, if any" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_bcomm' breach %}">&#9998;&nbsp;bcomm</a></td>
      <td class="{% if not breach.communications.all %} missing {% else %} {% if bcomm_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.communications.all %} {{ missing }} {% else %}
          {% if bcomm_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach communication" %}</td>
      <td>{% translate "Information about communication of a personal data breach to the persons affected (usually required at least in cases involving special categories of personal data)" %}</td>
    </tr>
    <tr>
      <td><a href="{% url 'breach:breach_create_bannex' breach %}">&#9998;&nbsp;bannex</a></td>
      <td class="{% if not breach.breach_annexes.all %} empty {% else %} {% if bannex_dpoc %} check {% else %} present {% endif %} {% endif %}">
          {% if not breach.breach_annexes.all %} {{ empty }} {% else %}
          {% if bannex_dpoc %} {{ present }}, {{ check }} {% else %} {{ present }} {% endif %}
          {% endif %}
      </td>
      <td>{% translate "Breach annex" %}</td>
      <td>{% translate "Annex of this breach report; useful, but not mandatory" %}</td>
    </tr>
  </table>

  <p>&nbsp;</p>

{% endblock %}

