.dropbtn {
  background-color: RoyalBlue;
  color: White;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: GhostWhite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: Black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: RoyalBlue;
}

.dropdown:hover .dropdown-content {
  display: block;
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}

.dropdown:hover .dropbtn {
  background-color: DeepSkyBlue;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: WhiteSmoke;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  margin-left:auto;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px;
  padding: 0px 20px;
}

.asteriskField {
  display: none;
}

hr.formset-divider {
  border-top: 2px dotted;
  color: Black;
  width: 50%;
  height: 20px;
  margin-left: 0;
}

hr.tom-divider {
  border-top: 2px dotted;
  color: Gray;
  width: 50%;
  height: 20px;
  margin-left: 0;
}

.dpotoolshint {
 background-color: NavajoWhite;
}

.hintodd {
 background-color: SeaShell;
}

.hinteven {
 background-color: MintCream;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

