{% load static %}
{% load i18n %}

<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.2.min.css' %}">
    <link rel="stylesheet" href="{% static 'sidenav.css' %}">
    <title>
      {% block title %}
        {% translate "DPO tools" %}
      {% endblock %}
    </title>
    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <div class="sidenav">
      <a href="{{ settings.CONTROLLER_WEB }}" target="_blank"><img src="{% static 'controller-logo-small.png' %}" alt="Controller logo" width="180"></a>
      <p></p>
      <a href="{{ settings.DPO_WEB }}" target="_blank"><span style="font-weight:bold; font-size:30px;">{% translate "DPO" %}</span></a>
      <p></p>
      <hr>
      <form id="language-selection" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
              {{ language.name_local }} ({{ language.code }})
            </option>
          {% endfor %}
        </select>
        <input type="submit" value="Go">
      </form>
      <p></p>
      <hr>
      <a href="{% url 'landing:home' %}">{% translate "DPO Tools" %}</a>
      <hr>
      <a href="{% url 'contact:contact' %}">{% translate "Contact the DPO" %}</a>
      <hr>
      {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "RPA generator" %}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'rpa:rpa_home' %}">{% translate "RPA home" %}</a>
            <a class="dropdown-item" href="{% url 'rpa:rpa_hints' %}">{% translate "RPA hints" %}</a>
            <a class="dropdown-item" href="{% url 'rpa:rpa_create' %}">{% translate "New RPA" %}</a>
            <a class="dropdown-item" href="{% url 'rpa:my_rpas' %}">{% translate "My RPAs" %}</a>
            {% if request.user.is_authenticated and request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'rpa:all_rpas' %}">{% translate "All RPAs" %}</a>
            {% endif %}
          </div>
        </div>
        <p></p>
        <hr>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "Breach reporter" %}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'breach:breach_hints' %}">{% translate "Breach report hints" %}</a>
            <a class="dropdown-item" href="{% url 'breach:breach_create' %}">{% translate "New breach report" %}</a>
            <a class="dropdown-item" href="{% url 'breach:my_breaches' %}">{% translate "My breach reports" %}</a>
            {% if request.user.is_authenticated and request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'breach:all_breaches' %}">{% translate "All breach reports" %}</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <hr>
      {% if request.user.is_authenticated %}
        {% translate "Logged in as:" %}<br>
        {% if request.user.get_full_name %}
          {{ request.user.get_full_name }}<br>
          ({{ request.user }})
        {% else %}
          {{ request.user }}
        {% endif %}
        <p></p>
        <a href="{% url 'logout' %}" class="btn btn-link btn-lg " role="button">{% translate "Logout" %}</a>
      {% else %}
        {% translate "Not logged in." %}<br>
        <p></p>
        <a href="{% url 'login' %}" class="btn btn-link btn-lg" role="button">{% translate "Login" %}</a>
      {% endif %}
    </div>

    <div class="main">
      {% block content %}{% endblock %}
    </div>

    <script src="{% static 'jquery-3.6.1.slim.min.js' %}"></script>
    <script src="{% static 'popper-1.16.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.6.2.min.js' %}"></script>

  </body>

</html>

